################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RIBM.WebApi/bin/Debug/netcoreapp1.1
/RIBM.WebApi/obj
/RIBM.WebApi/bin/Release
/RIBM.WebApi/bin/Debug/netcoreapp2.0
